---
http_interactions:
- request:
    method: get
    uri: http://api.postmon.com.br/v1/cep/04089000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"complemento": "at\u00e9 470 - lado par", "bairro": "Indian\u00f3polis",
        "cidade": "S\u00e3o Paulo", "logradouro": "Alameda dos Maracatins", "estado_info":
        {"area_km2": "248.222,362", "codigo_ibge": "35", "nome": "S\u00e3o Paulo"},
        "cep": "04089000", "cidade_info": {"area_km2": "1521,101", "codigo_ibge":
        "3550308"}, "estado": "SP"}'
  recorded_at: Tue, 12 May 2015 05:43:08 GMT
recorded_with: VCR 2.9.3
